src/main/mule/mule4-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5c8333d-e435-4cde-8e67-166822b278b3" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule4-examplesFlow" doc:id="84614562-cdf5-43e6-9e7a-19df89fc418b" >
		<http:listener doc:name="Listener" doc:id="7aafb2d7-b56e-49a8-8c6b-6f46fd332d60" config-ref="HTTP_Listener_config" path="hello/{id}"/>
		<set-payload value='#["Hello :"++ attributes.uriParams.id as String]' doc:name="Set Payload" doc:id="5bcf0956-d741-4bb3-a24c-d74da6824fd2" mimeType="text/plain"/>
	</flow>
</mule>
